{% extends '@StoreTemplate/Layout/_layout.html.twig' %}

{% block content_title %}{{ "Edit address"|trans }} {{ address.name }}{% endblock content_title %}

{% block content %}
    <a href="{{ url('store_address_list') }}">View all</a>

    {% render url('city_selectors',{areaId:address.cityId}) %}

    <div class="form">
        {{ form(form) }}
    </div>
{% endblock content %}
